.cardList {
    display: flex;
    flex-direction: column;
  }
  /* Row Gap */
  .cardList > *:not(:last-child) {
    margin-bottom: 32px;
  }

  host {
    display: block;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
  }