.example-card {
    position: relative;
    min-height: 500px;
    max-height: 501px;
    min-width: 400px;
    border: 10px
  }

  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .button-b button{
    margin-right: 10px;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .Message{
    width:85%;
  }
  .Message {
    margin-left: 20px;
    min-width: 50%;
    max-width: 80%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.example-icon{
  margin: -6px
}
  